div.menu {
	width: 100%;
	height: 30px;
	background-color: #98AFC7;
}

div.menu ul {
	list-style: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
}

div.menu ul li {
	height: 30px;
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
}

div.menu ul li+li {
	border-left: solid 2px white;
}

div.menu a {
	height: 25px;
	padding: 5px 10px 0px 10px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	display: block;
}

div.menu a:hover {
	background-color: #737CA1;
	text-decoration: none;
}

div.menu a:visited {
	color: white;
}

div.game {
	margin: 30px;
	padding: 30px;
	border: solid 3px green;
	min-height: 300px;
	background-color: #EBF4FA;
}

div.game div.settings {
	margin: auto;
}

div.game div.settings table {
	margin: auto;
	border: none;
}

div.game div.settings td {
	padding: 0px 5px 5px 0px;
}

div.game div.settings td+td {
	padding-right: 0px;
}

div.game div.settings input {
	width: 100px;
}

div.game div.word {
	margin-top: 30px;
}

div.game div.word div.letter {
	width: 30px;
	height: 23px;
	color: white;
	font-weight: bold;
	margin: 1px;
	padding-top: 7px;
	text-align: center;
	background-color: orange;
	border: solid 1px;
	cursor: move;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	text-transform: uppercase;
	float: left;
}

div.game div.word div.letter_done {
	background-color: green;
	animation: fadeIn 500ms;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity:1;}
}

div.game div.word div.placeholder {
	width: 34px;
	height: 34px;
	float: left;
}
